/*
Syntax error: File to import not found or unreadable: variables.
              Load paths:
                /Users/MK/Workspace/Sisyphus-UI
                /Users/MK/Workspace/Sisyphus-UI/css
        on line 1 of css/demo.css.scss

1: @import "variables";
2: 
3: 
4: .dropdown-arrow-inverse {
5:   border-bottom-color: #808080 !important;
6:   border-top-color: #808080 !important;

Backtrace:
css/demo.css.scss:1
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/import_node.rb:45:in `import'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/root_node.rb:20:in `render'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `each'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/Users/MK/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: variables.\A               Load paths:\A                 /Users/MK/Workspace/Sisyphus-UI\A                 /Users/MK/Workspace/Sisyphus-UI/css\A         on line 1 of css/demo.css.scss\A \A 1: @import \"variables\";\A 2: \A 3: \A 4: .dropdown-arrow-inverse {\A 5:   border-bottom-color: #808080 !important;\A 6:   border-top-color: #808080 !important;"; }
